h1 {
        font-family: "Jersey 20", sans-serif;
        /*font-weight: 400;*/
        font-size: 60px;
        font-style: normal;
  
  }
  .container{
    background-color: salmon;
    width: 100%;
    height: 100%;
  }
  .container-flued{
     background-color:rgb(240, 176, 130) ;
     height: auto;
  }
  .container-xl{
    margin: 50px;
  }